- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      // Stylesheets list from config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    link(rel="icon", href=config.root + 'img/favicon.png')
  body

    // Navigation menu.
    nav.nav-menu(role="navigation")
      <a class="" href="#main">Skip to main content</a>
      each url, label in theme.menu
        a.nav-menu__item(href=url)= label

    // Main Content
    main.content#main(role="main")
        if body
          div!= body
        else
          block content

    // Site Footer
    .footer
      p= `© ${(new Date()).getFullYear()} ${config.author}.`
      a(href=config.root) Home
      ul
        li
          a(href="https://twitter.com/ayepod", rel="me") @ayepod on Twitter
          li
            a(href="https://github.com/achisholm", rel="me") Github
          li
            a(href="mailto:alistair@fastmail.com", rel="me") alistair@fastmail.com
  if theme.scripts !== undefined && theme.scripts.length > 0
    //- scripts list from config.yml
    each url in theme.scripts
      script(src=url)
