- var pageTitle = ''

doctype html
html(lang="en-GB")
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= pageTitle
    link(rel='stylesheet', href=url)
    link(rel="icon", href='/favicon.png')
  body

    // Navigation menu.
    nav.nav-menu(role="navigation")
      <a class="" href="#main">Skip to main content</a>
      //each url, label in theme.menu
        a.nav-menu__item(href=url)= label

    // Main Content
    main.content#main(role="main")
        if body
          div!= body
        else
          block content

    // Site Footer
    .footer
      p= `© ${(new Date()).getFullYear()} Alistair Chisholm.`
      a(href='/') Home
      ul
        li
          a(href="https://twitter.com/ayepod", rel="me") @ayepod on Twitter
          li
            a(href="https://github.com/achisholm", rel="me") Github
          li
            a(href="mailto:alistair@fastmail.com", rel="me") alistair@fastmail.com

      //
        script(src=url)
